<form [formGroup]="userForm" (submit)="saveUser()">
  <div class="form-group">
      <label for="name">Name</label>
      <div class="alert" *ngIf="!userForm.get('name').valid && userForm.get('name').touched">Invalid name!</div>
      <input type="text" formControlName="name" />
      <div [hidden]="userForm.get('name').valid || !userForm.get('name').touched">Required</div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <div class="alert" *ngIf="!userForm.get('email').valid && userForm.get('email').touched">Invalid email</div>
    <input type="text" formControlName="email" >
    <div [hidden]="userForm.get('email').valid || !userForm.get('email').touched">Required</div>
  </div>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>